@import "../../sassStyles/variables";

.search-panel {
  background: linear-gradient(
    to right bottom,
    rgba(31, 35, 86, 1),
    rgba(255, 255, 255, 0.1)
  );
  // -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  height: 60rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  margin-right: 13rem;
  width: 43rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.247);

  &__heading {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    h1 {
      margin: 3rem;
      color: white;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;

    &--form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: auto;
    }

    &--btn {
      color: $primary-color;
      font-family: $primary-font;
      width: 12rem;
      background-color: white;
      padding: 2rem;
      font-size: 1.5rem;
      text-align: center;
      border-radius: 0.5rem;
      margin: 0 3rem;
      cursor: pointer;
      &:hover {
        background-color: $primary-color;
        color: white;
        transition: all 0.4s;
      }
    }
  }
}

.range-label-box {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  .range-label {
    font-size: small;
    color: #fff;
  }
}
.form-fields {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 2rem 2rem;
}

.form-fields2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.MuiSlider-rail {
  color: $primary-color;
}

.MuiSlider-track {
  color: $secondary-color;
}

.MuiSelect-icon {
  color: $tertiary-color;
}

.MuiSelect-iconOpen {
  background-color: rgba(0, 0, 0, 0);
}
