$primary-color: #1f2356;
$secondary-color: #ecf0f4;
$tertiary-color: #ffb703;
$text-color1: #a1acbd;
$text-color2: #001aff;

$primary-font: "Montserrat", sans-serif;
$display-font: "Faster One", cursive;
