$primary-color: rgb(31, 35, 86);
$secondary-color: #ecf0f4;
$tertiary-color: #ffb703;
$extra-color1: #5df78c;
$extra-color2: #ff5273;
$text-color1: hsl(216, 18%, 69%);
$text-color2: #001aff;

$primary-font: "Montserrat", sans-serif;
$display-font: "Faster One", cursive;
